@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

.menu-navegacao {
    width: 80%;
    margin: auto;
    text-align: center; 
    background-image:url(../img/sapato\ feminino.png) ;
    min-width:100vw ;
    min-height: 20vw;
    /* background-color: rgb(67, 207, 200) */
}

.menu-navegacao ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color:rgb(196, 69, 196);
    font-size:25px ;
    list-style: none;
}

.titulo-pagina {
    font-family: 'Lobster', cursive;
    margin: 40px auto 30px 20px 20px;
    color:rgb(155, 107, 107);
    font-size:50px ;
    text-align: center;
}

.subtitulo-pagina {
    font-family: 'Instrument', cursive;
    margin: 40px auto 30px 20px 20px;
    color:rgb(94, 93, 153);
    font-size: 30px;
    text-align: center;
}
.subtitulo-sobrenos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color:rgb(112, 80, 68);
    font-size:25px ;
}
.banner-superior {
width:100%;
height: 250px;
object-fit: cover;
object-position: 5px 20;
}

.padrao-de-todas-imagens {
padding: top 5px;  
width: 400px;
height: 263px;
object-fit: contain;
object-position: 100% 100%;
}

.categoria-produtos {
    font-size: 140%;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(25, 37, 148);
    color: brown;
    padding-left: 20px;
    line-height: 3;
    margin: 50px 10px 10px 10px;
    flex-grow: nowrap;
  }

  .container-justify-space-between {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color:rgb(196, 69, 196);
    font-size:25px ;
    list-style: none;
    flex-wrap: nowrap;
  }